


%sf-light{
    font-family: 'MuseoSansCyrl-300';
    font-weight: 300;
}
%sf-regular{
    font-family: 'MuseoSansCyrl-500';
    font-weight: 500;
}
%sf-medium{
    font-family: 'MuseoSansCyrl-700';
    font-weight: 700;
}
%sf-bold{
    font-family: 'MuseoSansCyrl-900';
    font-weight: 900;
}
