/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
img {max-width: 100%;}
html{
    scroll-behavior: smooth;
}
.container{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
.title{
    @extend %sf-bold;
    font-size: 40px;
    line-height: 48px;
}
.button{
    @extend %sf-regular;
    font-size: 20px;
    line-height: 24px;
    color: black;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-pagination{
    padding-top: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.pagination__bullet{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #DCDCDC;
    cursor: pointer;
    background-color: #fff;
    margin: 0 8px;
    transition: background-color 0.3s ease 0s;
}
.pagination__bullet_active{
    border: 2px solid #62D6B3;
    transform: scale(1.2);
    position: relative;
}
.pagination__bullet_active::after{
    cursor: pointer;
    transition: transform 0.3s ease 0s;
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    background-color: #62D6B3;
    border-radius: 50%;
}
.decoration{
    position: absolute;
    width: 93px;
    height: 93px;
    top: -35px;
    right: 6%;
}
.active{
    display: block;
    opacity: 1;
}


