


%sf-light{
    font-family: 'MuseoSansCyrl-300', sans-serif;
    font-weight: 300;
}
%sf-regular{
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-weight: 500;
}
%sf-medium{
    font-family: 'MuseoSansCyrl-700', sans-serif;
    font-weight: 700;
}
%sf-bold{
    font-family: 'MuseoSansCyrl-900', sans-serif;
    font-weight: 900;
}
